<!-- side-panel.component.html -->
<div class="side-panel" [ngClass]="{ open: isOpen }">
  <button class="close-btn" (click)="togglePanel()">Close</button>
  <!-- <h2>Menu</h2> -->
  <ul>
    <li><a routerLink="/dashboard" (click)="togglePanel()">Dashboard</a></li>
    <li>
      <a routerLink="/manage-services" (click)="togglePanel()"
        >Manage Services</a
      >
    </li>
    <li>
      <a routerLink="/manage-vendors" (click)="togglePanel()"
        >Manage Vendor List</a
      >
    </li>
  </ul>
</div>
